/* Fondo general */
body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

/* Título animado */
.titulo {
  font-size: 2.5em;
  text-align: center;
  margin: 40px 0;
  color: darkseagreen;
  text-shadow: 2px 2px 8px darkcyan; animation: deslizar 3s ease-out forwards;
  opacity: 0;
}

/* Animación de derecha a izquierda */
@keyframes deslizar {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    
  }
}

/* Estilo de tabla */
.tabla-info {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 60px auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Encabezados de la tabla */
.tabla-info th {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  font-size: 2.0em;
  text-shadow: 1px 1px 5px black;
}

/* Celdas de la tabla */
.tabla-info td {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1em;
  text-shadow: 3px 3px 3px aliceblue;
}

/* Letras difuminadas */
.tabla-info td, .tabla-info th , .intro{
  color: white;
}
.intro{
  text-align: center;
  margin: 20px auto;
  max-width: 90%;
  text-shadow: 3px 3px 3px aliceblue;
} 
.class {
  margin-left: 20px;
  margin-right: 120px;
  margin-top: 80px;
  
}
.tabla2{
  width: 90%;
  max-width: 800px;
  margin: 0 auto 60px auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.tabla3{
  border-collapse: collapse;
  margin: 0 auto 60px auto;
  background-color: darkgrey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.tabla5{
  border-collapse: collapse;
  margin: 0 auto 60px auto;
  background-color: darkgrey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}